@using Maanaim.Web.ExtensionMethods

@model List<Maanaim.Web.ViewModel.CalendarForm>;

<style>
    th, td {
        text-align: center
    }

    .label {
        color: dimgray
    }

    .label-success {
        background-color: rgb(230,230,230);
    }

    .label-warning {
        background-color: rgb(225,225,225);
    }
</style>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                <span>Programação</span>
                <br />
                Período (Início - Término)
            </th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var calendarItem in Model)
        {
            <tr>
                <td title="@calendarItem.Description.StripHTML()">
                    <span style="font-weight:bold">
                        <a href="Visualizar/@calendarItem.Id">@calendarItem.Title</a> <span class="label" style="background-color:@calendarItem.BackgroundColor; color:@calendarItem.TextColor">(@calendarItem.Ministry)</span>
                    </span>

                    <br />
                    <span class="btn btn-default">@calendarItem.StartDate</span>
                    <span class="btn btn-default">@calendarItem.EndDate</span>
                </td>
                <td>

                    @using (Html.BeginForm("Excluir", "Home", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="Id" value="@calendarItem.Id" />

                        @Html.ActionLink("Alterar", "IncluirAlterar", "Home", new { Id = calendarItem.Id }, new { @class = "btn btn-primary" })

                        <button id="btnDelete" type="submit" class="btn btn-danger" onclick="return confirm('Confirma exclusão?')">Excluir</button>
                    }

                </td>
            </tr>
        }
    </tbody>

</table>

@{
    if (ViewBag.Message != null && ViewBag.MessageClass != null)
    {
        <div id="divMsg" class="alert @ViewBag.MessageClass">
            <strong>@ViewBag.Message</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
}

@section Scripts { 
        <script type="text/javascript">
            $(document).ready(function () {

                $("form").submit(function (event) {
                    $("#divModal").modal();
                });
            });


        </script>
}
    