@model Maanaim.Web.ViewModel.CalendarForm;

@section CSS {
    <environment include="Development">
        <link href="~/lib/Trumbowyg/ui/trumbowyg.css" rel="stylesheet" />
        <link href="~/lib/Trumbowyg/plugins/colors/ui/trumbowyg.colors.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/lib/Trumbowyg/ui/trumbowyg.min.css" rel="stylesheet" />
        <link href="~/lib/Trumbowyg/plugins/colors/ui/trumbowyg.colors.min.css" rel="stylesheet" />
    </environment>
    <style>
        .bootstrap-modal-selector {
            overflow-y: scroll;
        }
    </style>
}

@{
    if (ViewData["Message"] != null && ViewData["MessageClass"] != null)
    {
        <div id="divMsg" class="alert @ViewData["MessageClass"]">
            <strong>@ViewData["Message"]</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
}

@using (Html.BeginForm("IncluirAlterar", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()


    <div class="panel-heading">
        <div class="panel-title">
            <div style="font-weight: bold;">

                @if (string.IsNullOrEmpty(Model.Id))
                {
                    <h4>Incluir Programação no Calendário</h4>
                }
                else
                {
                    <h4>Alterar Programação no Calendário</h4>
                }
            </div>


        </div>


    </div>



    <div class="panel-body form-horizontal">

        <input type="hidden" name="Id" value="@Model.Id" />

        <div class="form-group">
            <label for="txtTitulo" class="col-sm-3 control-label inputDate">Título:</label>
            <div class="col-sm-6">
                <input type="text" ID="txtTitle" name="Title" class="form-control" value="@Model.Title" required />
            </div>
        </div>

        <div class="form-group">
            <label for="txtDescricao" class="col-sm-3 control-label inputDate">Descrição:</label>
            <div class="col-sm-6">

                <textarea ID="txtDescription" name="Description" class="form-control" required>@Model.Description</textarea>

            </div>
        </div>

        <div class="form-group">
            <label for="txtStart" class="col-sm-3 control-label inputDate">Início:</label>
            <div class="col-sm-6">
                <input type="text" ID="txtStart" name="StartDate" class="inputDateInicio form-control" placeholder="Data e Hora" value="@Model.StartDate" required />
            </div>
        </div>

        <div class="form-group">
            <label for="txtTermino" class="col-sm-3 control-label inputDate">Término:</label>
            <div class="col-sm-6">
                <input type="text" ID="txtEnd" name="EndDate" class="inputDateTermino form-control" placeholder="Data e Hora" value="@Model.EndDate" required />
            </div>
        </div>

        <div class="form-group">
            <label for="ddlMinisterio" class="col-sm-3 control-label">Ministério:</label>
            <div class="col-sm-6">
                <select id="ddlMinisterio" name="Ministry" class="form-control" required>
                    <option value="" backgroundcolor="#FFFFFF" textcolor="black">(Selecione um Ministério)</option>
                    <option value="ADMM" backgroundcolor="#fffacd" textcolor="#000000">Igreja em Geral</option>
                    <option value="ME" backgroundcolor="#617b4c" textcolor="#ffffff">Ministério de Ensino (Talmid)</option>
                    <option value="MJ" backgroundcolor="#9bc1e6" textcolor="#000000">Missão Jovem</option>
                    <option value="MM" backgroundcolor="#fcd966" textcolor="#000000">Ministério de Mulheres</option>
                    <option value="MH" backgroundcolor="#c9c9c9" textcolor="#000000">Ministério de Homens</option>
                    <option value="MF" backgroundcolor="#f3b085" textcolor="#000000">Ministério da Família</option>
                    <option value="MI" backgroundcolor="#315496" textcolor="#ffffff">Ministério de Intercessão</option>
                    <option value="SOMA" backgroundcolor="#fffe00" textcolor="#000000">Missão Soma</option>
                    <option value="MK" backgroundcolor="#ff3497" textcolor="#000000">Missão Kids</option>
                    <option value="MO" backgroundcolor="#fc5151" textcolor="#000000">Ministério de Obreiros</option>
                    <option value="MA" backgroundcolor="#fffacd" textcolor="#000000">Ministério Acolhida</option>
                    <option value="EF" backgroundcolor="#fffacd" textcolor="#000000">Estrutura Física</option>
                    <option value="ML" backgroundcolor="#548233" textcolor="#ffffff">Ministério de Louvor</option>
                    <option value="MEv" backgroundcolor="#7030a2" textcolor="#ffffff">Ministério de Eventos</option>
                    <option value="MS&Tec" backgroundcolor="#833d0c" textcolor="#ffffff">Mídias Sociais e Tecnologia</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="colorBackground" class="col-sm-3 control-label">Cor de Fundo:</label>
            <div class="col-sm-6">
                <input type="color" ID="colorBackground" name="BackgroundColor" class="form-control" value="#fffacd" />
            </div>
        </div>

        <div class="form-group">
            <label for="colorText" class="col-sm-3 control-label">Cor do Texto:</label>
            <div class="col-sm-6">
                <input type="color" ID="colorText" name="TextColor" class="form-control" value="#fffff" />
            </div>
        </div>

        <div class="form-group">
            <label for="colorText" class="col-sm-3 control-label">Pré-visualização da combinação de cores:</label>
            <div class="col-sm-6">
                <input type="text" ID="txtColorPreview" class="form-control" value="[Título a ser apresentado]" style="background-color:#fffacd; color:#000000" readonly="readonly" />
            </div>
        </div>




    </div>


    <div class="panel-footer text-right">

        <button id="btnSave" type="submit" class="btn btn-success">Salvar</button>

        <a class="btn btn-danger" href="/" role="button">Cancelar</a>

    </div>

}



<div class="row">
    <div class="col-sm-12">
        <asp:Literal ID="ltlInclusaoMsg" runat="server"></asp:Literal>
    </div>
</div>

@section Scripts {

    <environment include="Development">
        <script src="~/lib/fullcalendar/fullcalendar.js"></script>
        <script src="~/lib/fullcalendar/locale/pt-br.js"></script>
        <script src="~/lib/Trumbowyg/trumbowyg.js"></script>
        <script src="~/lib/Trumbowyg/plugins/colors/trumbowyg.colors.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/fullcalendar/fullcalendar.min.js"></script>
        <script src="~/lib/fullcalendar/locale/pt-br.min.js"></script>
        <script src="~/lib/Trumbowyg/trumbowyg.min.js"></script>
        <script src="~/lib/Trumbowyg/plugins/colors/trumbowyg.colors.min.js"></script>
    </environment>

    <script type="text/javascript">
        $(document).ready(function () {

            var dateNow = new Date();

            $(".inputDateInicio").datetimepicker({ locale: "pt-BR", format: "DD/MM/YYYY HH:mm:ss", defaultDate: dateNow, sideBySide: true });

            $(".inputDateTermino").datetimepicker({ locale: "pt-BR", format: "DD/MM/YYYY HH:mm:ss", defaultDate: dateNow, sideBySide: true });

            $("#colorBackground,#colorText").change(
                function () {
                    var bgColor = $("#colorBackground").val();
                    var txtColor = $("#colorText").val();
                    $("#txtColorPreview").css("background-color", bgColor);
                    $("#txtColorPreview").css("color", txtColor);
                }
            );

            $("#ddlMinisterio").change(
                function () {

                    var backgroundcolor = $(this).find("option:selected").attr("backgroundcolor");
                    $("#colorBackground").val(backgroundcolor);

                    var textcolor = $(this).find("option:selected").attr("textcolor");
                    $("#colorText").val(textcolor);

                    $("#colorBackground").trigger("change");
                }
            );

            $('#txtDescription').trumbowyg(
                {
                    btns: ['foreColor', 'backColor',
                        ['viewHTML'],
                        ['undo', 'redo'], // Only supported in Blink browsers
                        ['formatting'],
                        ['strong', 'em', 'del'],
                        ['superscript', 'subscript'],
                        ['link'],
                        ['insertImage'],
                        ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],
                        ['unorderedList', 'orderedList'],
                        ['horizontalRule'],
                        ['removeformat'],
                        ['fullscreen']
                    ]
                }
            );

            $("#txtTitle").change(
                function () {
                    var txt = $("#txtTitle").val();
                    if (txt == "")
                        txt = "[Título a ser apresentado]";
                    $("#txtColorPreview").val(txt);
                }
            );

            $("form").submit(function (event) {
                $("#divModal").modal();
            });



            setTimeout(
                function () {
                    $(".alert-success").fadeOut();
                }, 4000
            );




            @if (!string.IsNullOrEmpty(Model.Ministry))
            {
                <text>
                $('#ddlMinisterio').val('@Html.Raw(Model.Ministry)');
                </text>
            }



        });


    </script>

}

