@model Maanaim.Web.ViewModel.CalendarForm;

@using (Html.BeginForm("IncluirAlterar", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="panel-heading">
        <div class="panel-title">
            <div style="font-weight: bold;">

                @if (string.IsNullOrEmpty(Model.Id))
                {
                    <h4>Incluir Programação no Calendário</h4>
                }
                else
                {
                    <h4>Alterar Programação no Calendário</h4>
                }
            </div>


        </div>


    </div>



    <div class="panel-body form-horizontal">

        <input type="hidden" name="Id" value="@Model.Id" />

        <div class="form-group">
            <label for="txtTitulo" class="col-sm-3 control-label inputDate">Título:</label>
            <div class="col-sm-6">
                <input type="text" ID="txtTitle" name="Title" class="form-control" value="@Model.Title" required />
            </div>
        </div>

        <div class="form-group">
            <label for="txtDescricao" class="col-sm-3 control-label inputDate">Descrição:</label>
            <div class="col-sm-6">
                <textarea ID="txtDescription" name="Description" class="form-control" required>@Model.Description</textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="txtStart" class="col-sm-3 control-label inputDate">Início:</label>
            <div class="col-sm-6">
                <input type="text" ID="txtStart" name="StartDate" class="inputDateInicio form-control" placeholder="Data e Hora" value="@Model.StartDate" required />
            </div>
        </div>

        <div class="form-group">
            <label for="txtTermino" class="col-sm-3 control-label inputDate">Término:</label>
            <div class="col-sm-6">
                <input type="text" ID="txtEnd" name="EndDate" class="inputDateTermino form-control" placeholder="Data e Hora" value="@Model.EndDate" required />
            </div>
        </div>

        <div class="form-group">
            <label for="ddlMinisterio" class="col-sm-3 control-label">Ministério:</label>
            <div class="col-sm-6">
                <select id="ddlMinisterio" name="Ministry" class="form-control" required>
                    <option value="">(Selecione um Ministério)</option>
                    <option value="ADMM">Igreja em Geral</option>
                    <option value="ME">Ministério de Ensino (Talmid)</option>
                    <option value="MJ">Missão Jovem</option>
                    <option value="MM">Ministério de Mulheres</option>
                    <option value="MH">Ministério de Homens</option>
                    <option value="MF">Ministério da Família</option>
                    <option value="MI">Ministério de Intercessão</option>
                    <option value="SOMA">Missão Soma</option>
                    <option value="MK">Missão Kids</option>
                    <option value="MO">Ministério de Obreiros</option>
                    <option value="MA">Ministério Acolhida</option>
                    <option value="EF">Estrutura Física</option>
                    <option value="ML">Ministério de Louvor</option>
                    <option value="MEv">Ministério de Eventos</option>
                    <option value="MS&Tec">Mídias Sociais e Tecnologia</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="txtCorApresentacao" class="col-sm-3 control-label">Cor de Apresentação:</label>
            <div class="col-sm-6">
                <input type="text" ID="txtCorApresentacao" class="form-control" style="background-color:@(!string.IsNullOrEmpty(Model.Color) ? Model.Color : "lemonchiffon" )" />
                <input type="hidden" id="hiddenCorApresentacao" name="Color" value="@(!string.IsNullOrEmpty(Model.Color) ? Model.Color : "lemonchiffon" )" />
                <div style="margin-top:10px;">
                    <input type="button" class="btn color-picker" style="background-color:palegreen; width:50px; height:50px;" alt="palegreen" />
                    <input type="button" class="btn color-picker" style="background-color:lightsalmon; width:50px; height:50px;" alt="lightsalmon" />
                    <input type="button" class="btn color-picker" style="background-color:lemonchiffon; width:50px; height:50px;" alt="lemonchiffon" />
                    <input type="button" class="btn color-picker" style="background-color:paleturquoise; width:50px; height:50px;" alt="paleturquoise" />
                    <input type="button" class="btn color-picker" style="background-color:gainsboro; width:50px; height:50px;" alt="gainsboro" />
                </div>
            </div>

        </div>
        @{
            if (ViewData["Message"] != null && ViewData["MessageClass"] != null)
            {
                <div id="divMsg" class="alert @ViewData["MessageClass"]">
                    <strong>@ViewData["Message"]</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
        }


    </div>


    <div class="panel-footer text-right">

        <button id="btnSave" type="submit" class="btn btn-success">Salvar</button>

        <a class="btn btn-danger" href="javascript:history.back();" role="button">Cancelar</a>

    </div>

}



<div class="row">
    <div class="col-sm-12">
        <asp:Literal ID="ltlInclusaoMsg" runat="server"></asp:Literal>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {

            var dateNow = new Date();

            $(".inputDateInicio").datetimepicker({ locale: "pt-BR", format: "DD/MM/YYYY HH:mm:ss", defaultDate: dateNow, sideBySide: true });

            $(".inputDateTermino").datetimepicker({ locale: "pt-BR", format: "DD/MM/YYYY HH:mm:ss", defaultDate: dateNow, sideBySide: true });

            $(".color-picker").click(
                function () {
                    var color = $(this).attr("alt");
                    $("#txtCorApresentacao").css("background-color", color);
                    $('#hiddenCorApresentacao').val(color);
                    //hiddenCorApresentacao
                }
            );

            $("form").submit(function (event) {
                $("#divModal").modal();
            });

            setTimeout(
                function () {
                    $(".alert-success").fadeOut();
                }, 4000
            );




            @if (!string.IsNullOrEmpty(Model.Ministry))
            {
                <text>
                $('#ddlMinisterio').val('@Html.Raw(Model.Ministry)');
                </text>
            }



        });


    </script>

}

