@using Maanaim.Web.ExtensionMethods

@model List<Maanaim.Model.Calendar>;

@section CSS {
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/fullcalendar/fullcalendar.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/fullcalendar/fullcalendar.min.css" />
    </environment>
}


<div id="calendar">
</div>

@section Scripts {

    <environment include="Development">
        <script src="~/lib/fullcalendar/fullcalendar.js"></script>
        <script src="~/lib/fullcalendar/locale/pt-br.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/fullcalendar/fullcalendar.min.js"></script>
        <script src="~/lib/fullcalendar/locale/pt-br.min.js"></script>
    </environment>

    <script>

        var eventsList = [
            @{ 
                bool first = true;
                foreach(var calendarItem in Model)
                {
                    if (!first)
                    {
                        <text>,</text>
                    }
                    <text>
            {
                title: '@Html.Raw(calendarItem.Title)',
                start: '@calendarItem.StartDate.ToFullCalendar()',
                end: '@calendarItem.EndDate.ToFullCalendar()',
                color: '@calendarItem.BackgroundColor',
                textColor: '@calendarItem.TextColor',
                url: '@this.ViewContext.RouteData.Values["controller"].ToString()/Visualizar/@calendarItem.Id'
            }
                    </text>
                    first = false;
                }
            }
        ];

        $(document).ready(function () {

            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay,listWeek'
                },
                defaultDate: '@System.DateTime.Now.ToString("yyyy-MM-dd")',
                navLinks: true, // can click day/week names to navigate views
                editable: true,
                eventLimit: true, // allow "more" link when too many events
                events: eventsList
            });

        });

    </script>
}
